@import "vars";


/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .players1{
    position: absolute;
    top: 370px !important;
    left: -8px !important;
    height: 90px;
  }
  .players2{
    position: absolute;
    top: 370px !important;
    right: 5px !important;
    left: unset !important;
    height: 90px;
  }
}

@media only screen and (max-width : 1150px) {
  .players1,.players2{
    display: none !important;
  }
  .step-wrapp{
    flex-direction: column;
    align-items: center;
  }
  .steps-line{
    height: 100%;
  }
  .step{
    margin: 10px 0px;
  }
  .privilege-wrapp{
    flex-direction: column;
    align-items: center;
  }
  .privilege__item{
    margin: 10px 2px;
    width: 40%;
  }
  .arrows{
    display: none;
  }
}
/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .privilege__item{
    width: 50%;
  }
  .action{
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    &__descr{
      margin: 10px auto;
    }
    &__link {
      margin: 0 auto;
    }
  }
  .promo{
    &__bonus{
      font-size: 80px;
      text-align: center;
    }
    &__procent{
      font-size: 105px;
      text-align: center;
    }
    &__deposit{
      font-size: 24px;
      text-align: center;
    }
  }
  .truck {
    top: 40%;
    transform: translateX(-46%)!important;
    &__img{
      height: 280px;
    }
    &__front-money {
      right: 50px;
      height: 105px;
    }
    &__back-money {
      right: 0px;
      width: 360px;
    }
  }
  .overlay{
    display: none;
  }
  .man{
    top: 48%;
    left: 50%;
    transform: translateX(-83%)!important;
    &__img{
      height: 220px;
      z-index: 1;
    }
  }
}
/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .top-line{
    border-bottom: none;
  }
  .description{
    display: none;
  }
  .logo{
    margin: 0 auto;
  }
  .truck__img {
    height: 280px;
  }
}
/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .promo{
    &__bonus{
      font-size: 60px;
      text-align: center;
    }
    &__procent{
      font-size: 80px;
      line-height: .7;
    }
    &__deposit{
      font-size: 19px;
    }
  }
  .top-line {
    padding: 20px 0 0px;
  }
  .privilege__item{
    width: 100%;
  }
  .privilege__title{
    width: 140px;
  }
  .action{
    &__descr{
      font-size: 19px;
      span {
        color: #00d15d;
        font-size: 22px;
        display: block;
      }
    }
    &__link {
      max-width: 300px;
    }
  }
  .man {
    top: 41%;
    &__img{
      max-height: 200px;
    }
  }
  .truck {
    top: 37%;
    z-index: 0;
    transform: translateX(-48%)!important;
    &__img {
      max-height: 220px;
      position: absolute;
    }
    &__back-money{
      left: unset !important;
      right: 0px;
      width: 240px;
    }
    &__front-money{
      left: unset !important;
      right: 20px;
      height: 85px;
    }
  }
  header{
    height: 570px;
  }
}
/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
/**/


/*==========  Mobile First  ==========*/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .man {
    position: absolute;
    top: 37%;
    left: 50%;
    -webkit-transform: translateX(-50%)!important;
    transform: translateX(-29%)!important;
    z-index: 1;
  }
  .overlay {
    width: 750px;
    height: 100px;
    opacity: .7;
    background: linear-gradient(to right,transparent 2%,#000 30%,transparent 126%);
    position: absolute;
    bottom: 205px;
    left: 7%;
    transform: translateX(0%);
    z-index: 0;
  }
}
/**/

@media only screen and (min-width : 1050px) {

  .truck {
    left: 56%;
    transform: translateX(-13%)!important;
    &__img {
      height: 360px;
    }
  }
  .man {
    top: 35%;
    left: 50%;
    transform: translateX(-30%)!important;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1580px) {

  .players1 {
     top: 365px !important;
     transform: translateY(40%) !important;
     left: 40px !important;
     height: 105px;
  }
  .players2 {
    top: 365px !important;
    transform: translateY(40%) !important;
    right: 40px !important;
    height: 105px;
  }
  .truck {
    left: 54%;
    top: 36%;
  }
  .man {
    top: 44%;
  }
}

@media only screen and (min-width : 1800px) {
  .players1{
      top: 380px!important;
      transform: translateY(80%) !important;
      left: 40px!important;
      height: 105px;
  }
  .players2{
    top: 380px!important;
    transform: translateY(80%) !important;
    right: 40px!important;
    height: 105px;
  }
  //.players2{
  //  top: 445px!important;
  //  right: 50px!important;
  //  height: 110px;
  //}
}

/**/
