@import "vars";


/*==========  Desktop First  ==========*/



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

@media only screen and (max-width : 1150px) {

  .players1,.players2{
    display: none !important;
  }

  .step-wrapp{
    flex-direction: column;
    align-items: center;
  }

  .steps-line{
    height: 100%;
  }

  .step{
    margin: 10px 0px;
  }

  .privilege-wrapp{
    flex-direction: column;
    align-items: center;
  }

  .privilege__item{
    margin: 10px 2px;
    width: 40%;
  }

  .arrows{
    display: none;
  }

}
/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .privilege__item{
    width: 50%;
  }

  .wrapp-link{
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .x{
    margin: 10px auto;
  }

  .promo_link {
    margin: 0 auto;
  }

  .bonus{
    font-size: 80px;
    text-align: center;
  }
  .procent{
    font-size: 105px;
    text-align: center;
  }

  .deposit {
    font-size: 24px;
    text-align: center;
  }

  .truck {
    top: 40%;
    transform: translateX(-46%)!important;
    &__img{
      height: 280px;
    }
  }

  .overlay{
    display: none;
  }

  .truck__front-money {
    right: 50px;
    height: 105px;
  }

  .truck__back-money {
    right: 0px;
    width: 360px;
  }

  .wrapp-man{
    top: 48%;
    left: 50%;
    transform: translateX(-83%)!important;
  }

  .man{
    height: 220px;
    z-index: 1;
  }

}
/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .top-line{
    border-bottom: none;
  }

  .description{
    display: none;
  }

  .logo{
    margin: 0 auto;
  }

  .truck__img {
    height: 280px;
  }

}
/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .deposit {
    font-size: 19px;
  }

  .procent {
    font-size: 80px;
    margin-top: -5%;
  }

  .top-line {
    padding: 20px 0 0px;
  }

  .bonus {
    font-size: 60px;
  }

  .privilege__item{
    width: 100%;
  }

  .privilege__title{
    width: 140px;
  }

  .promo_link {
    max-width: 300px;
  }

  .x {
    font-size: 19px;
  }

  .x span {
    color: #00d15d;
    font-size: 22px;
    display: block;
  }

  .man{
    max-height: 200px;
  }

  .truck {
    top: 37%;
    z-index: 0;
    transform: translateX(-48%)!important;
  }

  .truck__img {
    max-height: 220px;
    position: absolute;
  }

  .truck__back-money{
    left: unset !important;
    right: 0px;
    width: 240px;
  }

  .truck__front-money{
    left: unset !important;
    right: 20px;
    height: 85px;
  }

  @keyframes go-top-bottom {
    from {
      top: -50px;
      opacity: 1;
    }
    to {
      top: 10px;
      opacity: 1;
    }
  }

  .wrapp-man {
    top: 41%;
  }
  header{
    height: 570px;
  }

}
/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
/**/


/*==========  Mobile First  ==========*/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .wrapp-man {
    position: absolute;
    top: 37%;
    left: 50%;
    -webkit-transform: translateX(-50%)!important;
    transform: translateX(-29%)!important;
    z-index: 1;
  }
  .overlay {
    width: 750px;
    height: 100px;
    opacity: .7;
    background: linear-gradient(to right,transparent 2%,#000 30%,transparent 126%);
    position: absolute;
    bottom: 230px;
    left: 7%;
    transform: translateX(0%);
    z-index: 0;
  }
}
/**/

@media only screen and (min-width : 1050px) {
  .truck__img {
    height: 360px;
  }
  .truck {
    left: 56%;
    transform: translateX(-13%)!important;
  }
  .wrapp-man {
    top: 35%;
    left: 50%;
    transform: translateX(-30%)!important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1400px) {}
/**/
